{{ ansible_managed | comment }}

{% for nameserver in resolvconf_nameserver %}
nameserver {{ nameserver }}
{% endfor %}
{% if resolvconf_domain %}
domain {{ resolvconf_domain }}
{% endif %}
{% if resolvconf_search  %}
search {{ (resolvconf_search_default + resolvconf_search)|unique|join(' ') }}
{% endif %}
{% for sortlist in resolvconf_sortlist %}
sortlist {{ sortlist }}
{% endfor %}
{% for option in resolvconf_option %}
options {{ option }}
{% endfor %}
